
%hamburger_line {
    content: "";
    display: inline-block;
    position: absolute;
    background: $color-light;
    border-radius: 2px;
    height: 2px;
    width: 100%;
}

.hamburger {
    display: none;
    position: relative;
    width: 18px;
    height: 10px;
    @include media-tablet-765 {
        display: inline-block;
    }
    @include media-tablet {
        display: inline-block;
    }
    @include media-mobile {
        display: inline-block;
    }
    &::before {
        @extend %hamburger_line;
        top: 0;
        left: 0;
    }
    &::after {
        @extend %hamburger_line;
        bottom: 0;
        left: 0;
    }
}

.hamburger_line {
    @extend %hamburger_line;
    top: calc( 50% - 1px );
    left: 0;
}