* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #103D4D;
  height: 100%;
}

html {
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

body {
    font-size: 1.4rem;
}

/*______________header____________*/

.header {
    background: #032835;
    padding: 13px 0;
}

.wrapper {
    max-width: 1170px;
    margin: auto;
}

.header_logo {
    cursor: pointer;
  }