$color-primary: #3F3098;
$color-secondary:#FCDF23;
$color-hover: #fc8c23;
$color-light: white;
$color-dark: #0B0B0C;

$content-width: 1110px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
