$color-primary: #3F3098;
$color-primary-transparent: rgba(63, 48, 152, 0.6);
$color-secondary:#FCDF23;
$color-hover: #fc8c23;
$color-light: white;
$color-dark: #0B0B0C;

$content-width: 1110px;
$laptop-small: 1070px;
$tablet-width: 820px;
$tablet-small: 700px;
$mobile-big-width: 586px;
$mobile-small-width: 320px;
