.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  flex-direction: row;
  
  @include media-mobile-middle {
    padding-bottom: 60px;
  }
}

.navigation__link {
  text-decoration: none;
  color: $color-light;
  transition: all .3s ease;
}

.navigation__link:hover {
  color: $color-secondary;
}

.main__notes {
  background: url(../img/notes.png);
  background-size: cover;
}

.main__img {
  margin-top: 102px;
  @include media-laptop {
    width: 80%;
  }
  @include laptop-small {
    width: 60%;
  }
  @include media-tablet-small {
    width: 50%;
  }
  @include media-mobile {
    display: none;
  }
}

.main__img_small {
  display: none;
  @include media-mobile {
    display: block;
    overflow: hidden;
  }
}

.button_link {
  text-decoration: none;
}