.quiz__cont {
    display: flex;
    margin: 20px 0;
}

.quiz__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter__score {
    color: $color-primary;
    font-size: 2.0rem;
    font-weight: 700;
}

//counter pages

.counter__pages {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
    width: 730px;
}

.counter__pages::before {
    content: '';
    background-color: $color-primary-transparent;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    z-index: -1;
    transition: 1.5s ease;
}

.progress {
    background-color: $color-primary;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 2s ease;
}

.circle {
    background-color: #E2DFF6;
    color: $color-primary;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-primary-transparent;
}

.circle.active {
    background-color: $color-primary;
    color: $color-light;
    box-shadow: 0px 4px 8px rgba(22, 10, 72, 0.15);
}

// answers

.quiz-list {
    list-style: none;
    display: inline-block;
	overflow: hidden;
    font-size: 2.0rem;
    padding: 30px 0;

    width: 70%;
}

.answer__bird input[type=radio] {
	display: none;
}

.answer__bird  label {
	display: inline-block;
	cursor: pointer;
	padding: 10px 100px;
    width: 100%;
	line-height: 44px;
	border: 2px solid $color-primary-transparent;
	border-bottom: none;
	user-select: none;

    transition: all .3s ease;

    text-align: center;
}

.quiz-list .answer__bird:first-child label {
	border-radius: 15px 15px 0 0;
}
.quiz-list .answer__bird:last-child label {
	border-radius: 0 0 15px 15px;
	border-bottom: 2px solid $color-primary-transparent;
}

/* Checked */
.answer__bird input[type=radio]:checked + label {
	background: $color-primary;
}
 
/* Hover */
.answer__bird label:hover {
	color: $color-light;
    background-color: $color-primary-transparent;
}

/* Correct */
.correct {
    color: $color-light;
    background: #7eeb8c;
}

.uncorrect {
    color: $color-light;
    background: #eb7ea8;
}

.quiz-button {
    padding: 14px 52px 16px;
    gap: 10px;

    width: 350px;
    height: 61px;
    
    background: #FCDF23;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 2px 8px rgba(255, 247, 179, 0.5);
    border-radius: 40px;
    border: none;

    font-weight: 600;
    font-size: 26px;
    line-height: 31px;

    color: $color-dark;
    cursor: pointer;
    transition: all .3s ease;
}

.quiz-button:hover {
    background: $color-hover;
}

.quiz-button:disabled {
    background: gray;
    color: rgba(255, 255, 255, 0.638);
    box-shadow: none;
}

//_____bird-content

.bird__content {
  width: 540px;
  height: 590px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;

  margin-bottom: 30px;
}

.bird__name {
  font-size: 38px;
  line-height: 46px;
  color: $color-dark;
}

.bird__species {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #987CB9;
}

.bird__title {
  display: flex;
  justify-content: space-between;

  padding: 20px 20px;

}

.bird__image {
  display: block;
  object-fit: cover;
    
  width: 310px;
  height: 220px;
  border: none;
  border-radius: 20px;
}

.bird__description { 
  font-size: 2.4rem;
  line-height: 142.5%;
  color: $color-dark;

  padding: 20px;
}