
.audio {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    max-width: 540px;
    width: 100%;
}

.audio__title {
    display: flex;
    padding-top: 20px;
}

.audio__bird {
    font-size: 40px;
    margin-left: 20px;
    width: 200px;
}

.audio__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    
}

.img__src {
    width: 70px;
    height: 70px;
    background-image: url(../icons/play.svg);
    background-size: contain;
}

.pause {
    width: 70px;
    height: 70px;
    background-image: url(../icons/pause.svg);
    background-size: contain;
}

.audio_image {
    padding: 20px;
}

.audio_image_bird {
  display: block;
  object-fit: cover;

  width: 255px;
  //height: 166px;
  border-radius: 20px;
}

.audio__progress {
    background: rgba(63, 48, 152, 0.4);
    border-radius: 5px;
    width: 100%;
    height: 10px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.progress_val {
    background: rgba(63, 48, 152);
    border-radius: 4px;
    height: 10px;
    // width: 50px;
    
}


.button_play {
    width: 70px;
    height: 70px;
}

//_____________

.volume-container {
    cursor: pointer;
    .volume-button {
      height: 26px;
      display: flex;
      align-items: center;
      .volume {
        transform: scale(0.7);
      }
    }
    
    position: relative;
    z-index: 2;
    .volume-slider {
      position: absolute;
      left: -3px; top: 15px;
      z-index: -1;
      width: 0;
      height: 15px;
      background: white;
      box-shadow: 0 0 20px #000a;
      transition: .25s;
      .volume-percentage {
        background: coral;
        height: 100%;
        width: 75%;
      }
    }
    &:hover {
      .volume-slider {
        left: -123px;
        width: 120px;
      }
    }
  }
