html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Exo 2', sans-serif;
  background: linear-gradient(346.45deg, #B2AAE9 31.75%, #FFFFFF 102.92%);
  background-repeat: no-repeat;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 125%;
  color: $color-primary;
}