* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(346.45deg, #B2AAE9 31.75%, #FFFFFF 102.92%);
  background-repeat: no-repeat;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 125%;
  color: #3F3098;
}

.button {
  padding: 14px 67px 16px;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.1rem;
  color: #0B0B0C;
  background: #FCDF23;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 2px 8px rgba(255, 247, 179, 0.5);
  border-radius: 30px;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  background: #fc8c23;
}

.wrapper {
  max-width: 1110px;
  margin: auto;
}

.header {
  background: #3F3098;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 13px 0 10px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation_item {
  padding: 0 30px;
  color: white;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.navigation__link {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.navigation__link:hover {
  color: #FCDF23;
}

.footer {
  background: #3F3098;
  padding: 21px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content {
  display: flex;
  color: white;
  align-items: center;
}

.footer__link {
  padding-left: 20px;
  color: white;
  transition: all 0.3s ease;
}

.footer__link:hover {
  color: #FCDF23;
}

.quiz__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter__pages {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  width: 730px;
}

.counter__pages::before {
  content: "";
  background-color: rgba(63, 48, 152, 0.6);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  z-index: -1;
  transition: 1.5s ease;
}

.progress {
  background-color: #3F3098;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 2s ease;
}

.circle {
  background-color: #E2DFF6;
  color: #3F3098;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(63, 48, 152, 0.6);
}

.circle.active {
  background-color: #3F3098;
  color: white;
  box-shadow: 0px 4px 8px rgba(22, 10, 72, 0.15);
}

.quiz-list {
  list-style: none;
  display: inline-block;
  overflow: hidden;
  font-size: 2rem;
  padding: 30px 0;
}

.answer__bird input[type=radio] {
  display: none;
}

.answer__bird label {
  display: inline-block;
  cursor: pointer;
  padding: 10px 100px;
  width: 100%;
  line-height: 44px;
  border: 2px solid rgba(63, 48, 152, 0.6);
  border-bottom: none;
  user-select: none;
  transition: all 0.3s ease;
}

.quiz-list .answer__bird:first-child label {
  border-radius: 15px 15px 0 0;
}

.quiz-list .answer__bird:last-child label {
  border-radius: 0 0 15px 15px;
  border-bottom: 2px solid rgba(63, 48, 152, 0.6);
}

/* Checked */
.answer__bird input[type=radio]:checked + label {
  background: #3F3098;
}

/* Hover */
.answer__bird label:hover {
  color: white;
  background-color: rgba(63, 48, 152, 0.6);
}

/* Correct */
.correct {
  color: white;
  background: #7eeb8c;
}

.uncorrect {
  color: white;
  background: #eb7ea8;
}

.quiz-button {
  padding: 14px 52px 16px;
  gap: 10px;
  width: 350px;
  height: 61px;
  background: #FCDF23;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 2px 8px rgba(255, 247, 179, 0.5);
  border-radius: 40px;
  border: none;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #0B0B0C;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quiz-button:hover {
  background: #fc8c23;
}

.quiz-button:disabled {
  background: gray;
  color: white;
}

.bird__content {
  width: 540px;
  height: 590px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-bottom: 30px;
}

.bird__name {
  font-size: 38px;
  line-height: 46px;
  color: #0B0B0C;
}

.bird__species {
  font-size: 16px;
  line-height: 19px;
  color: #987CB9;
}

.bird__title {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.bird__image {
  display: block;
  object-fit: cover;
  width: 310px;
  height: 220px;
  border: none;
  border-radius: 20px;
}

.bird__description {
  font-size: 24px;
  line-height: 142.5%;
  color: #0B0B0C;
  padding: 20px;
}

.birds-birds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.birds_information {
  width: 350px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 30px;
  margin-bottom: 20px;
}

.birds-birds__image {
  width: 350px;
  height: 260px;
  display: block;
  object-fit: cover;
  border: none;
  border-radius: 20px;
}

.bird-name {
  font-size: 24px;
  padding-left: 34px;
  padding-top: 20px;
}

.birds-audio {
  margin: 10px auto;
}

/*# sourceMappingURL=style.css.map */
