html {
    font-size: 10px;
    height: 100%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.wrapper {
    max-width: 1280px;
    margin: auto;
}

canvas {
    background-color: #E5E5E5;
    border: 9px solid #AAAAAA;
}

canvas:hover {
  cursor: pointer;
}