html {
    font-size: 10px;
    height: 100%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.wrapper {
    max-width: 1280px;
    margin: auto;
}

canvas {
    background-color: #E5E5E5;
    border: 9px solid #AAAAAA;
}

canvas:hover {
  cursor: pointer;
}

.start {
  padding: 8px 8px;
  width: 144px;
  height: 40px;

  background: #0D9095;
  border-style: none;
  border-radius: 5px;

  margin-bottom: 10px;

  cursor: pointer;

  color: white;
  font-size: 16px;
  transition: all .5s ease-out;
}

.start:hover {
  background: #0c6a6d;
}

.counts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 10px;
}