html {
    font-size: 10px;
    height: 100%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.wrapper {
    max-width: 1280px;
    margin: auto;
}

canvas {
    background-color: #a9a9a9;
    border: 2px solid black;
}

canvas:hover {
  cursor: pointer;
}