.footer {
    background-color: #111115;
}

.logo_footer {
    position: relative;
    text-decoration: none;
    color: $color-light;
    text-align: center;
    border: 1px solid $color-light;
    border-radius: 2px;
    width: 82px;
    height: 52px;
    margin-right: -6px;
    @include media-desktopsmall {
        margin-top: 2px;
        margin-left: 2px;
    }
    @include media-tablet-765 {
        margin-top: 0px;
        margin-left: 0px;
    }
    @include media-tablet {
        margin-top: 0px;
        margin-left: 0px;
    }
    @include media-mobile-470 {
        border: none;
        width: 128px;
        margin-right: 0px;
    }
    @include media-mobile {
        border: none;
        width: 128px;
        margin-right: 0px;
    }
}

.logo_footer:hover {
    color: $color-hover;
    border: 1px solid $color-hover;
}

.logo-object_footer {
    position: absolute;
    top: 23px;
    left: 9px;
    @include media-tablet-765 {
        top: 19px;
        left: 11px;
    }
    @include media-tablet {
        top: 19px;
        left: 11px;
    }
    @include media-mobile-470 {
        top: 15px;
        left: 72px;
    }
    @include media-mobile {
        top: 15px;
        left: 72px;
    }
}

.logo_footer_text {
    margin: 0.3rem 0;
    @include font(19px, 120%);
    @include media-desktopsmall {
        margin-top: 0px;
    }
    @include media-tablet-765 {
        margin: 0;
    }
    @include media-tablet {
        margin: 0;
    }
    @include media-mobile-470 {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}

.logo_footer_text_mobile {
    display: none;
    @include media-mobile-470 {
        display: inline-flex;
        @include font(19.0145px, 120%);
    }
    @include media-mobile {
        display: inline-flex;
        @include font(19.0145px, 120%);
    }
}

.layout-2-columns_footer {
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 35px;
    @include media-desktopsmall {
        padding-bottom: 150px;
    }
    @include media-tablet-765 {
        padding-top: 13px;
        padding-bottom: 32px;
    }
    @include media-tablet {
        padding-top: 13px;
        padding-bottom: 32px;
    }
    @include media-mobile-470 {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 31px;
    }
    @include media-mobile {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 31px;
    }
}

.footer-title {
    @include font(24px, 120%);
    color: $color-light;
    margin: 0;
    margin-right: 126px;
    margin-top: 2px;
}

.input_email {
    margin: 14px 7px 0 0;
    padding: 10px;
    padding-right: 34px;
    background-color: #111115;
    border: 0.7px solid #F9804B;
    border-radius: 2px;
}

.input_email::placeholder {
    color: #BDBDBD;
}

.button_submit {
    padding: 10px 38px;
    border: 1px solid $color-active;
    border-radius: 5px;
    background-color: $color-gray_light;
    color: $color-active;
}

.button_submit:hover {
    border: 1px solid $color-hover;
    color: $color-hover;
}

.button_submit:active {
    border: 1px solid $color-active;
    color: $color-active;
}

.sumbit_mistake {
    border: 1px solid $color-red;
    color: $color-red;
}

.footer_button {
    padding-bottom: 31px;
    @include media-desktopsmall {
        padding-bottom: 28px;
        margin-top: -112px;
    }
    @include media-tablet-765 {
        padding-bottom: 50px;
    }
    @include media-tablet {
        padding-bottom: 50px;
    }
    @include media-mobile-470 {
        margin-top: 0px;
    }
    @include media-mobile {
        margin-top: 0px;
    }
}

.layout-3-columns_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 32px;
    @include media-desktopsmall {
        padding-bottom: 50px;
    }
    @include media-tablet-765 {
        padding-bottom: 12px;
    }
    @include media-tablet {
        padding-bottom: 12px;
    }
    @include media-mobile-470 {
        justify-content: center;
    }
    @include media-mobile {
        justify-content: center;
    }
}

.footer_social-networks {
    list-style: none;
    color: $color-light;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 0;
    @include media-tablet-765 {
        display: none;
    }
    @include media-tablet {
        display: none;
    }
}

.footer_social-networks_item {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include media-tablet-765 {
        padding-bottom: 20px;
    }
    @include media-tablet {
        padding-bottom: 20px;
    }
    @include media-mobile-470 {
        padding-bottom: 0;
        padding-right: 30px;
    }
    @include media-mobile {
        padding-bottom: 0;
        padding-right: 30px;
    }
}

.icon_social {
    transition: opacity .4s;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    margin-right: 12px;
    cursor: pointer;
    @include media-tablet-765 {
        margin-right: 0;
    }
    @include media-tablet {
        margin-right: 0;
    }
}

.footer_social-networks_item:last-child {
    padding-bottom: 0;
    padding-right: 0px;
}

.footer_social-networks_item:hover {
    color: $color-hover;
}

.footer_social-networks_item:active {
    color: $color-active;
}

.icon_social:hover {
    background: $color-hover;
}

.icon_social:active {
    background: $color-active;
}

.footer__navigation_items {
    display: flex;
    list-style: none;
    color: $color-light;
    padding-left: 115px;
    @include media-desktopsmall {
        padding-left: 119px; 
    }
    @include media-tablet-765 {
        padding-left: 0px;
    }
    @include media-tablet {
        padding-left: 1px;
    }
}

.footer__navigation_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding-right: 58px;
    @include media-desktopsmall {
        padding-right: 48px;
    }
    @include media-tablet-765 {
        padding-right: 37px;
    }
    @include media-tablet {
        padding-right: 37px;
    }
    @include media-mobile-470 {
        padding-right: 30px;
    }
    @include media-mobile {
        padding-right: 30px;
    }
}

.footer__navigation_link:last-child {
    padding-right: 0px;
}

.footer_text {
    @include font(16px, 115%, 100);
    color: $color-light;
    @include media-tablet-765 {
        @include font(16px, 120%, 100);
    }
    @include media-tablet {
        @include font(16px, 120%, 100);
    }
    @include media-mobile-470 {
        margin: 16px 0;
    }
    @include media-mobile {
        margin: 16px 0;
    }
}

.footer_text2 {
    margin-left: 0;
    margin-top: -4px;
    margin-right: -8px;
    margin-bottom: 13px;
    @include media-mobile-470 {
        margin-bottom: 12px;
    }
    @include media-mobile {
        margin-bottom: 12px;
    }
}

.footer_link:hover .footer_text {
    color: $color-hover;
    text-decoration: underline;
}

.footer_link:active .footer_text {
    color: $color-active;
    text-decoration: underline;
}

.social_network_link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.social_network_link:hover {
    color: $color-hover;
}

.social_network_link:active {
    color: $color-active;
}

.email-form {
    @include media-desktopsmall {
        margin-right: 32px;
    }
    @include media-tablet-765 {
        display: none;
    }
    @include media-tablet {
        display: none;
    }
}

.footer_social-networks_tablet {
    display: none;
    @include media-tablet-765 {
        display: block;
        list-style: none;
        color: $color-light;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        padding: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    @include media-tablet{
        display: block;
        list-style: none;
        color: $color-light;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        padding: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    @include media-mobile-470 {
        display: flex;
        flex-direction: row;
        margin-top: 19px;
    }
    @include media-mobile {
        display: flex;
        flex-direction: row;
        margin-top: 19px;
    }
}

.footer_link {
    @include media-mobile-470 {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
} 

.footer_link_mobile {
    display: none;
    @include media-mobile-470 {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        margin-top: -36px;
        font-weight: 100;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -0.5px;
        padding-right: 9px;
    }
    @include media-mobile {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        margin-top: -36px;
        font-weight: 100;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -0.5px;
        padding-right: 9px;
    }
}
