.header {
    background: $color-dark;
    padding: 14px 0;
    position: relative;
    z-index: 1;
    @include media-tablet {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0 0 5px 0;
    }
    @include media-mobile {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0 0 5px 0;
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    list-style: none;
    font-weight: 500;
    @include media-desktopsmall {
        padding-left: 43px;
    }
}

.navigation__link {
    padding: 0 29px;
    cursor: pointer;
    color: $color-light;
    @include media-desktopsmall {
        padding: 0 24.3px;
    }
}

.logo {
    position: relative;
    text-decoration: none;
    color: $color-light;
    text-align: center;
    border: 1px solid $color-light;
    border-radius: 2px;
    width: 82px;
    height: 52px;
    margin-right: -6px;
    transition: 0.2s all linear;
    @include media-tablet {
        width: 46.93px;
        height: 29.03px;
        border: none;
    }
    @include media-mobile {
        width: 46.93px;
        height: 29.03px;
        border: none;
    }
}

.logo:hover {
    color: $color-hover;
    border: 1px solid $color-hover;
}

.logo:active {
    color: $color-active;
    border: 1px solid $color-active;
}

.header__design_link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $color-light;
    transition: 0.2s all linear;
    @include media-tablet {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}

.header__design_link:first-child {
    padding-right: 0;
}

.header__design_link:hover {
    color: $color-hover;
}

.header__design_link:active {
    color: $color-active;
}


.logo-object {
    position: absolute;
    top: 23px;
    left: 9px;
    @include media-tablet {
        scale: 0.65;
        top: 12px;
        left: 1px;
    }
}

.header__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.active_link {
    color: $color-hover;
    text-decoration: none;
}

.nav_link {
    text-decoration: none;
    color: $color-light;
    transition: 0.2s all linear;
}

.nav_link:hover {
    color: $color-hover;
}

.nav_link:active {
    color: $color-active;
}

.header__navigation {
    @include media-tablet {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}

.header__logo-lines {
    @include media-mobile {
        padding-top: 4px;
    }
}