.wrapper {
    max-width: $content-with;
    margin: auto;
    @include media-desktopsmall {
        padding: 0 30px;
    }
    @include media-tablet {
        padding: 0 20px;
    }
    @include media-mobile {
        padding: 0 10px;
    }
}