/* _____Inputs_____ */


.input_text {
  width: 270px;
  height: 33px;
  
  background: #032835;
  border: 2px solid #3DDEF4;
  border-radius: 5px;
  
  color: white;
  padding: 5px;
  
  margin-right: 30px;
}

.input_color {
    background: #78F3D6;
    box-shadow: 0px -2px 0px #A2FFE9, 0px 4px 0px #35D6AF, 0px 8px 0px #032835;
    border-radius: 5px;
    border: none;
    
    width: 40px;
    height: 24px;
  padding: 0 5px;
  margin-right: 10px;
  
  cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.inputs_container_buttons {
    margin-top: 25px;
    margin-bottom: 40px;
}



/* _____Garage_____ */


.track {
  background: #165167;
  position: relative;
  height: 156px;

  margin-bottom: 20px;
}

.track_race {
  border-top: 2px dashed #BFF9FF;
  border-bottom: 2px dashed #BFF9FF;

  margin-top: 15px;
  padding: 15px 15px;
}

.finish_line {
  position: absolute;
  right: 0px;
  margin-right: 102px;
}

.track_control {
  display: flex;
  align-items: baseline;
  margin-left: 15px;
}

.control_button {
  margin-top: 13px;
}

.button_start_stop {
  padding: 2px 8px;
  width: 34px;
  height: 34px;

  border-radius: 5px;
  background: #165167;
  color: white;
  text-transform: uppercase;
  margin-right: 10px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.button_start_stop_a {
  border: 2px solid #3DF44F;
  color: #3DF44F;
}

.button_start_stop_b {
  border: 2px solid #F43D3D;
  color: #F43D3D;
}

.button_start_stop_a:hover {
  color: #165167;
  background: #3DF44F;
}

.button_start_stop_b:hover {
  color: #165167;
  background: #F43D3D;
}

.button_start_stop:disabled {
  border: 2px solid #646464;
  color: #646464;
}

.car_name {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-left: 20px;
}

.pagination_container {
  margin-top: 50px;
}

.car {
  margin-right: 83px;
}

@media (max-width: 950px) {
  .car_name {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 500px) {
  .car_name {
    font-size: 14px;
    line-height: 18px;
  }
}