.backstage {
    background-image: url(../../assets/images/flower_foto1.png);
    background-repeat: no-repeat;
    background-position: right;
    color: $color-black_blue;
    margin-bottom: 40px;
    @include media-desktopsmall {
        background-image: none;
    }
    @include media-tablet {
        background-image: url(../../assets/images/flower_foto1_tablet.png);
        padding-bottom: 40px;
        background-position-y: top;
    }
    @include media-mobile {
        background-image: url(../../assets/images/flower_foto1_mobile.png);
        background-position: 100% 6%;
        margin-bottom: 0;
    }
}

.layout-2-column {
    display: flex;
}

.backstage_photo {
    backdrop-filter: blur(2px);
    padding: 140px 87px 140px 0;
    @include media-desktopsmall {
        display: none;
    }
    @include media-tablet {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}

.backstage_photo_small {
    display: none;
    @include media-desktopsmall {
        display: block;
        backdrop-filter: blur(2px);
        padding: 109px 31px 112px 0;
    }
    @include media-tablet {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}

.backstage__content {
    padding-top: 140px;
    @include media-desktopsmall {
        padding-top: 100px;
    }
    @include media-tablet {
        padding-top: 60px;
    }
    @include media-mobile {
        padding-top: 30px;
    }
}

.backstage_text {
    @include font(16px, 130%);
    padding: 20px 20px 20px 0;
    margin: 0;
    @include media-desktopsmall {
        padding: 22px 7px 20px 0;
    }
    @include media-tablet {
        padding: 21px 7px 20px 0;
    }
    @include media-mobile {
        padding: 10px 2px 10px 0;
    }
}

.backstage_subtitle {
    @include font(24px, 120%);
    margin: 0;
    padding: 34px 0;
    @include media-tablet {
        padding: 11px 0;
        margin-left: 4px;
    }
    @include media-mobile {
        margin-left: 2px;
        padding-bottom: 1px;
    }
}

.backstage_maintext {
    @include font(16px, 140%);
    margin: 0;
    @include media-desktopsmall {
        @include font(16px, 136%);
    }
    @include media-tablet {
        margin: 9px 0 0 0;
        padding-right: 101px;
    }
    @include media-mobile {
        padding-right: 0;
        line-height: 138%;
    }
}

.backstage_h2 {
    @include media-tablet {
        margin-left: 4px;
    }
    @include media-mobile {
        margin-left: 0;
    }
}

.br_tablet {
    display: none;
    @include media-tablet {
        display: inline;
    }
    @include media-mobile {
        display: none;
    }
}