.donate_photo {
    background-image: url(../../assets/images/panda_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 386px;
    @include media-desktopsmall {
        background-image: url(../../assets/images/panda_bg_small_dst.jpg);
        height: 390px;
    }
    @include media-tablet {
        background-image: url(../../assets/images/panda_bg_tablet.jpg);
        height: 335px;
    }
    @include media-mobile {
        background-image: url(../../assets/images/panda_bg_mobile.jpg);
        height: 187px;
    }
}