
.donate {
    background: $color-orange_gradient;
    padding-bottom: 180px;
    @include media-desktopsmall {
        padding-bottom: 28px;
    }
    @include media-tablet {
        padding-bottom: 46px;
    }
    @include media-mobile {
        padding-bottom: 22px;
    }
}

.donate_title {
    @include font(36px, 130%);
    margin: 0;
    padding-top: 40px;
    color: $color-light;
    letter-spacing: 0px;
    padding-right: 0px;
    @include media-desktopsmall {
        text-align: start;
        padding-right: 113px;
        letter-spacing: 0px;
    }
    @include media-tablet {
        @include font(24px, 120%);
        padding-top: 32px;
        padding-right: 9px;
        letter-spacing: 0px;
    }
}

.br_donate_small {
    display: none;
    @include media-desktopsmall {
        display: inline-block;
    }
    @include media-tablet {
        display: none;
    }
}

.donate_title_text {
    @include font(16px, 140%, 500);
    margin: 0;
    padding-top: 10px;
    color: $color-light;
    @include media-desktopsmall {
        padding-top: 30px;
    }
    @include media-tablet {
        padding-top: 16px;
    }
}

.donate_information {
    @include font(36px, 140%, 500);
    text-align: left;
    color: #FE9013;
    margin-top: 43px;
    margin-bottom: 58px;
    @include media-desktopsmall {
        margin-bottom: 38px;
    }
    @include media-tablet {
        margin-top: 27px;
        margin-bottom: 29px;
    }
    @include media-mobile {
        @include font(24px, 120%, 400);
    }
}

.donate_feed {
    color: #FE9013;
    padding-top: 40px;
    text-align: center;
    margin-left: -13px;
    @include media-desktopsmall {
        padding-top: 20px;
    }
    @include media-tablet {
        padding-top: 30px;
        margin-left: 1px;
    }
    @include media-mobile {
        padding-top: 22px;
    }
}

.donate_feed_text {
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    padding-left: 92px;
    margin-bottom: 57px;
    @include media-desktop-1200 {
        margin-top: 11px;
        padding-left: 48px;
    }
    @include media-desktopsmall {
        margin-top: 11px;
        padding-left: 48px;
    }
    @include media-tablet {
        text-align: center;
        margin-top: 20px;
        padding-left: 0px;
    }
    @include media-mobile {
        @include font(16px, 140%, 400);
        margin-top: 8px;
        margin-bottom: 18px;
    }
}

.number_text {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: $color-dark;
    margin: 0;
    padding: 45px 13px 0px 0px;
    @include media-desktop-1200 {
        padding: 50px 9px 0px 0px;
    }
    @include media-desktopsmall {
        padding: 50px 9px 0px 0px;
    }
    @include media-tablet-850 {
        padding: 40px 9px 0px 0px;
    }
    @include media-tablet {
        padding: 40px 9px 0px 0px;
    }
    @include media-mobile-620 {
        font-weight: 500;
        font-size: 40.6015px;
        line-height: 80%;
        padding: 20px 9px 0px 6px;
    }
    @include media-mobile {
        font-weight: 500;
        font-size: 40.6015px;
        line-height: 80%;
        padding: 20px 9px 0px 6px;
    }
}

.donate_layout_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 10%;
    text-align: center;
    color: #333B41;
    margin: 20px 14px 0 0px;
    @include media-tablet-850 {
        margin: 20px 14px 0 3px;
    }
    @include media-tablet {
        margin: 20px 14px 0 3px;
    }
    @include media-mobile-620 {
        font-size: 9.02255px;
        margin: 13px 14px 0px 10px;
    }
    @include media-mobile {
        font-size: 9.02255px;
        margin: 13px 14px 0px 10px;
    }
}

.donate_layout_2column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include media-mobile-620 {
        justify-content: center;
    }
}

.donate_layout_2column_content {
    margin-left: 307px;
    @include media-desktop-1200{
        margin-left: 195px;
    }
    @include media-desktopsmall {
        margin-left: 195px;
    }
    @include media-tablet-850 {
        margin-left: 24px;
    }
    @include media-tablet {
        margin-left: 24px;
    }
    @include media-mobile-620 {
        margin-left: -10px;
    }
    @include media-mobile {
        margin-left: -10px;
    }
}

.x_icon {
    padding: 27px 62px 0 0px;
    @include media-desktop-1200 {
        padding: 31px 61px 0 0px;
    }
    @include media-desktopsmall {
        padding: 31px 61px 0 0px;
    }
    @include media-tablet-850 {
        padding: 24px 59px 0 0px;
    }
    @include media-tablet {
        padding: 24px 59px 0 0px;
    }
    @include media-mobile-620 {
        padding: 24px 33px 0 0px;
        width: 7.89px;
        height: 7.89px;
    }
    @include media-mobile {
        padding: 24px 33px 0 0px;
        width: 7.89px;
        height: 7.89px;
    }
}

.animal-widget {
    @include media-desktop-1200 {
        padding-top: 3px;
    }
    @include media-desktopsmall {
        padding-top: 3px;
    }
    @include media-tablet-850 {
        padding-top: 0px;
        margin-top: -8px;
        margin-left: 3px;
    }
    @include media-tablet {
        padding-top: 0px;
        margin-top: -8px;
        margin-left: 3px;
    }
    @include media-mobile-620 {
        width: 160.15px;
        height: 138.72px;
    }
    @include media-mobile {
        width: 160.15px;
        height: 138.72px;
    }
}

.donate_amount_text {
    padding-left: 96px;
    color: $color-dark;
    padding-bottom: 2px;
    @include media-desktopsmall {
        padding-left: 66px;
    }
    @include media-tablet {
        padding-left: 10px;
        margin-bottom: 8px;
    }
    @include media-mobile {
        padding-left: 0px;
        margin-bottom: 8px;
        margin-top: 1px;
    }
}

.donate_amount {
    padding-top: 34px;
    @include media-tablet {
        padding-top: 28px;
    }
    @include media-mobile {
        padding-top: 6px;
    }
}

.donate_sum {
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.progress {
    padding-left: 92px;
    @include media-desktopsmall {
        display: none;
    }
}

.progress_small {
    display: none; 
    @include media-desktopsmall {
        display: flex;
        justify-content: center;
    }
    @include media-tablet {
        display: none;
     }
}

.progress_taablet {
    display: none;
    @include media-tablet {
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
}

.progress-bar-sum {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
    margin: 0;
}

.donate_input {
    display: flex;
    justify-content: center;
    padding-top: 98px;
    padding-left: 9px;
    position: relative;
    @include media-mobile {
        padding-top: 50px;
    }
}

.donate_input::after {
    content: '$';
    position: relative;
    left: -19px;
    top: 31px;
    scale: 1.4;
    z-index: 10;
    color: #929699;
    @include media-tablet {
        top: 19px;
        scale: 1.3;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.another_amount {
    margin-bottom: 25px;
    padding: 16px 17px 16px 9px;
    border: 1px solid #929699;
    border-radius: 2px;
    background: none;
    position: relative;
    width: 268px;
    height: 54px;
    @include media-tablet {
        width: 180px;
        height: 42px;
        padding: 11px 17px 15px 6px;
    }
    @include media-mobile {
        padding: 15px 17px 15px 6px;
    }
}

.icon_dollar {
    position: absolute;
    top: 623px;
    left: 667px;
}

.donate_radiobuttons {
	margin-bottom: 31px;
    display: flex;
    justify-content: flex-start;
    margin-left: 474px;
    margin-top: -2px;
    @include media-desktopsmall {
        margin-left: 363px;
        margin-top: 0px;
    }
    @include media-tablet {
        margin-left: 192px;
        margin-top: 4px;
    }
    @include media-mobile-470 {
        margin-left: 41px;
        margin-top: -1px;
    }
    @include media-mobile {
        margin-left: 41px;
        margin-top: -1px;
    }
}

.donate_radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #FE9013;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  .donate_radio:checked {
    border: 6px solid #FE9013;
  }

  .donate_radio:active {
    border: 6px solid $color-active;
  }

.donate_radio_label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    margin-right: 52px;
    padding: 1px 0px 0px 5px;
    @include media-desktopsmall {
        margin-right: 50px;
    }
}

.donate_radio_label:last-child {
    margin-right: 0;
}

.donate_button {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @include media-desktopsmall {
        margin-bottom: 27px;
    }
    @include media-tablet {
        margin-top: -2px;
        margin-bottom: 29px;
    }
    @include media-mobile {
        margin-top: -4px;
    }
}

.donate_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    text-align: center;
    padding-bottom: 62px;
    margin-bottom: 0;
    @include media-desktopsmall {
        padding-bottom: 48px;
    }
    @include media-tablet {
        padding-bottom: 32px;
    }
    @include media-mobile {
        letter-spacing: -0.01px;
        padding-bottom: 21px;
    }
}


//_______________________________________________________ Slider


$number-of-options: 7;

.progress_bar {
    width: 976px;
    height: 27px;
    background-color:#404950;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-desktop-1200 {
        width: 810px;
    }
    @include media-desktopsmall {
        width: 810px;
    }
    @include media-tablet-954 {
        width: 600px;
    }
    @include media-tablet {
        width: 600px;
    }
    @include media-mobile-620 {
        width: 300px;
        height: 13.5px;
        border-radius: 1px;
    }
    @include media-mobile {
        width: 300px;
        height: 13.5px;
        border-radius: 1px;
    }
}

.amount-slider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    position: relative;
    width: 915px;
    height: 4px;
    user-select: none;
    @include media-desktop-1200 {
        width: 785px;
        height: 2px;
    }
    @include media-desktopsmall {
        width: 785px;
        height: 2px;
    }
    @include media-tablet-954 {
        width: 524px;
        height: 2px;
    }
    @include media-tablet {
        width: 524px;
        height: 2px;
    }
    @include media-mobile-620 {
        width: 262px;
        height: 1px;
    }
    @include media-mobile {
        width: 262px;
        height: 1px;
    }
}

.amount-slider::before {
    content: " ";
    position: absolute;
    height: 4px;
    background: #72828E;
    border-radius: 2px;
    width: 915px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include media-desktop-1200 {
        width: 785px;
    }
    @include media-desktopsmall {
        width: 785px;
    }
    @include media-tablet-954 {
        width: 524px;
    }
    @include media-tablet {
        width: 524px;
    }
    @include media-mobile-620 {
        width: 262px;
        border-radius: none;
    }
    @include media-mobile {
        width: 262px;
        border-radius: none;
    }
}

.input_slider {
    box-sizing: border-box;
	user-select: none;
	cursor: pointer;
}

.label_slider {
    box-sizing: border-box;
	user-select: none;
	cursor: pointer;
    display: inline-block;
    position: relative;
    width: 1%; 
    height: 100%; 
    user-select: none;
}
 .label_slider::before {
    content: attr(data-amount);
	position: absolute;
	left: 50%;
	padding-top: 0px;
    margin-top: -16px;
	transform: translate(-50%, 45px);
	font-weight: 500;
	font-size: 26px;
	line-height: 140%;
	text-transform: uppercase;
	color: #333B41;
	white-space: nowrap;
	opacity: 0.85;
	transition: all 0.15s ease-in-out;
    @include media-tablet-954 {
        margin-top: -19px;
    }
    @include media-tablet {
        margin-top: -19px;
    }
    @include media-mobile-620 {
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        margin-top: -32px;
    }
    @include media-mobile {
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        margin-top: -32px;
    }
 }

 .label_slider::after {
    content: " ";
	position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	background: #FFEE2E;
	border-radius: 50%;
	pointer-events: none;
	user-select: none;
	z-index: 1;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
    @include media-mobile-620 {
        width: 5px;
        height: 5px;
    }
    @include media-mobile {
        width: 5px;
        height: 5px;
    }
 }

 .label_slider:hover::after {
    transform: translate(-50%, -50%) scale(0.75);
	width: 40px;
	height: 40px;
	background: none;
	border: 2px solid #FE9013;
	outline: 2px solid #FE9013;
  	outline-offset: -12px;
    @include media-mobile-620 {
        width: 20px;
	    height: 20px;
        border: 1px solid #FE9013;
        outline: 1px solid #FE9013;
        outline-offset: -5px;
    }
    @include media-mobile {
        width: 20px;
	    height: 20px;
        border: 1px solid #FE9013;
        outline: 1px solid #FE9013;
        outline-offset: -5px;
    }
 }

 .input_slider {
    display: none;
        &:checked {
			+ label::before {
 			font-weight: 500;
            color: #FE9013;
			opacity: 1;
				}
 			+ label::after {
            color: #FE9013;
 			transform: translate(-50%, -50%) scale(1.0);
				}
 		    ~ #amount-pos {
             display: none;
 		 	 opacity: 1;
 				}
 		    @for $i from 1 through $number-of-options {
				 	&:nth-child(#{$i * 2 - 1}) ~ #amount-pos {
				 		left: #{($i * 20%) + 10%};
 					}
 				}
 			}
 }

 .amount-pos {
    display: block;
	position: absolute;
	top: 50%;
	width: 20px;
	height: 20px;
	background: #FFEE2E;
	border-radius: 50%;
	transition: all 0.15s ease-in-out;
	transform: translate(-50%, -50%);
	opacity: 1;
	z-index: 2;
 }