.layout-3-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
    @include media-desktopsmall {
        margin-bottom: 15px;
    }
}

.pet_animal_card {
    border-radius: 5px;
    border: 1px solid $color-hover;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    @include media-desktopsmall {
        margin-bottom: 0px;
    }
}

.animal_photo {
    border: none;
    border-radius: 5px;
    @include media-desktopsmall {
        width: 294px;
        height: 294px;
    }
    @include media-tablet {
        width: 285.24px;
        height: 285.24px;
    }
    @include media-mobile {
        width: 285.24px;
        height: 285.24px;
    }
}

.card_title {
    @include font(16px, 140%, 500);
    text-transform: uppercase;
    color: $color-dark;
    margin: 0;
    @include media-tablet {
        @include font(12.4695px, 140%, 500);
    }
    @include media-mobile {
        @include font(12.4695px, 140%, 500);
    }
}

.card_text {
    @include font(15px, 120%, 300);
    margin: 0;
    color: $color-dark;
    @include media-tablet {
        @include font(11.6901px, 120%, 300);
    }
    @include media-mobile {
        @include font(11.6901px, 120%, 300);
    }
}

.icon_food {
    @include media-tablet {
        width: 25.72px;
        height: 28.84px;
    }
    @include media-mobile {
        width: 25.72px;
        height: 28.84px;
    }
}

.pets__content {
    display: flex;
    justify-content: space-between;
    padding: 2px 12px 12px 16px;
}

.pets_button {
    display: flex;
    justify-content: center;
    margin-bottom: 117px;
    @include media-desktopsmall {
        margin-top: 80px;
        margin-bottom: 418px;
    }
}

.pets__wrapper{
    position: relative;
}

.left_slider_button {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background: $color-default;
    position: absolute;
    top: 403px;
    left: -82px;
    cursor: pointer;
    transition: 0.2s all linear;
    @include media-desktopsmall {
        display: none;
    }
    @include media-tablet {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}

.right_slider_button {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background: $color-default;
    position: absolute;
    top: 403px;
    right: -82px;
    cursor: pointer;
    transition: 0.2s all linear;
    @include media-desktopsmall {
        display: none;
    }
    @include media-tablet {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}



.left_slider_button:hover {
    background: $color-hover;
}

.right_slider_button:hover {
    background: $color-hover;
}

.left_slider_button:active {
    background: $color-active;
}

.right_slider_button:active {
    background: $color-active;
}

.background_photo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: -3;
    margin-top: -480px;
}

.palm {
    @include media-desktopsmall {
        display: none;
    }
}

.palm_small {
    display: none;
    @include media-desktopsmall {
        display: block;
    }
}

.strelitzia {
    @include media-desktopsmall {
        width: 241px;
        height: 180px;
    }
}


//__________________________________________________________________________________________________________

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.container::before, .container::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background: $color-dark;
    opacity: 0.1;
    transition: .8s;
}

.container::before {
    transform: translateX(-120%) rotate(45deg);
}

.container::after {
    transform: translateX(112%) rotate(45deg);
}

.cont_title, .cont_text {
    margin: 0;
    position: absolute;
    color: $color-light;
    text-align: center;
    justify-content: center;
    z-index: 2;
}

.cont_title {
    font-size: 24px;
    text-transform: uppercase;
    transform: translateY(2000%) scale(1);
    transition: .5s;
}

.cont_text {
    font-size: 16px;
    transition: .5s;
    transform: translateY(3000%) scale(1);
}

.pet_animal_card img {
    transition: .5s;
}

.pet_animal_card:hover .animal_photo {
    transform: scale(1.35);
}

.pet_animal_card:hover .container::before {
    transform: translateX(40%) rotate(45deg) scale(1.5);
    transition: .5s;
    opacity: 0.6;
}

.pet_animal_card:hover .container::after {
    transform: translateX(-50%) rotate(45deg) scale(1.5);
    transition: .5s;
    opacity: 0.6;
}

.pet_animal_card:hover .cont_title {
    transform: translateY(600%)scale(1.5);
    transition: .5s;
}

.pet_animal_card:hover .cont_text {
    transform: translateY(1100%)scale(1.5);
    transition: .5s;
}

//_____________________________________________

.buttons_small_desktop {
    display: none;
    @include media-desktopsmall {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }
    @include media-tablet {
        display: flex;
    }
    @include media-mobile {
        display: none;
    }
}

.left_slider_button_small {
    display: none;
    @include media-desktopsmall {
        display: block;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: none;
        background: $color-default;
        cursor: pointer;
        transition: 0.2s all linear;
        margin-right: 171px;
    }
    @include media-tablet {
        display: block;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: none;
        background: $color-default;
        cursor: pointer;
        transition: 0.2s all linear;
    }
    @include media-mobile {
        display: none;
    }
}

.right_slider_button_small {
    display: none;
    @include media-desktopsmall {
        display: block;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: none;
        background: $color-default;
        cursor: pointer;
        transition: 0.2s all linear;
    }
    @include media-tablet {
        display: block;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: none;
        background: $color-default;
        cursor: pointer;
        transition: 0.2s all linear;
    }
    @include media-mobile {
        display: none;
    }
}

.gorillas {
    @include media-desktopsmall {
        display: none;
    }
}

.sloth {
    @include media-desktopsmall {
        display: none;
    }
    @include media-tablet {
        display: none;
    }
    @include media-mobile{
        display: none;
    }
}

.gorillas_small {
    display: none;
    @include media-desktopsmall {
        display: block;
    }
}

.cheetahs {
    @include media-desktopsmall {
        display: none;
    }
}

.cheetahs_small {
    display: none;
    @include media-desktopsmall {
        display: block;
    }
}

.alligators {
    display: none;
    @include media-desktopsmall {
        display: block;
    }
}