.pick_and_feed {
    background: $color-orange_gradient;
    padding: 69px 0 100px 0;
    @include media-desktopsmall {
        padding: 69px 0 50px 0;
    }
    @include media-tablet {
        padding: 58px 0 20px 0;
    }
}

.pick_and_feed__wrapper {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    @include media-desktopsmall {
        margin: 0 30px;
    }
    @include media-tablet {
        margin: 0;
    }
    @include media-mobile {
        margin: 0 10px;
        padding: 0;
        }
}

.pick_and_feed_title {
    @include font(48px, 120%);
    text-align: center;
    color: #FE9013;
    padding: 41px 0 0px 0;
    @include media-desktopsmall {
        padding: 29px 0 0px 0;
    }
    @include media-tablet {
        @include font(42px, 120%);
        padding: 9px 0 0px 0;
    }
    @include media-mobile {
        @include font(24px, 120%);
        padding: 21px 0 0px 0;
    }
}

.pick_and_feed_text {
    color: $color-black_blue;
    padding-left: 99px;
    @include media-desktopsmall {
        padding-left: 19px;
        margin-top: 22px;
        margin-bottom: 20px;
    }
    @include media-tablet {
        padding-left: 0px;
        margin-top: 20px;
    }
    @include media-mobile {
        text-align: center;
        @include font(18px, 120%);
        margin-top: 10px;
        margin-left: -2px;
    }
}

.feed_subtitle {
    @include font(16px, 130%, 500);
    color: $color-black_blue;
    padding-left: 99px;
    margin-top: 40px;
    @include media-desktopsmall {
        padding-left: 19px;
        margin-top: 0px;
        line-height: 128%;
    }
    @include media-tablet {
        padding-left: 0;
        line-height: 130%;
    }
    @include media-mobile {
        display: none;
    }
}

.br_small {
    display: none;
    @include media-desktopsmall {
        display: inline;
    }
    @include media-tablet {
        display: none;
    }
}

.br_small_zoo {
    @include media-desktopsmall {
        display: inline;
    }
    @include media-tablet {
        display: inline;
    }
}

.br_big {
    @include media-desktopsmall {
        display: none;
    }
}

.pick_and_feed_title_h3 {
    @include media-desktopsmall {
        margin-top: 0px;
    }
    @include media-tablet {
        margin-bottom: 18px;
    }
    @include media-mobile {
        @include font(24px, 120%);
        margin-bottom: 17px;
    }
}

.feed_text {
    @include font(16px, 130%);
    color: $color-black_blue;
    padding-left: 99px;
    margin-top: -5px;
    padding-bottom: 25px;
    @include media-desktopsmall {
        padding-left: 19px;
    }
    @include media-tablet {
        padding-left: 0;
        padding-bottom: 13px;
    }
    @include media-mobile {
        display: none;
    }
}

.feed_link {
    color: $color-black_blue;
    text-decoration: none;
    border-bottom: 1px solid #FE9013;
    cursor: pointer;
}

.feed_link:hover {
    color: $color-hover;
}

.feed_link:active {
    color: $color-active;
    border-bottom: 1px solid $color-active;
}

.icon_card {
    width: 168px;
    height: 168px;
    background: $color-light;
    border-radius: 5px;
    border: 1px solid #FE9013;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    @include media-mobile {
        margin-bottom: 10px;
    }
}

.pick_and_feed_mobile {
    @include media-mobile {
        margin-bottom: 40px;
        line-height: 132%;
    }
}

.feed__layout-3-column {
    display: flex;
    justify-content: space-between;
    color: $color-black_blue;
    padding: 0 198px;
    @include media-desktopsmall {
        padding: 0 58px;
    }
    @include media-tablet {
        padding: 0;
    }
    @include media-mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        @include font(16px, 140%);
    }
}

.feed_button {
    display: flex;
    justify-content: center;
    padding-bottom: 59px;
    padding-top: 61px;
    @include media-desktopsmall {
        padding-bottom: 50px;
        padding-top: 72px;
    }
    @include media-tablet {
        padding-top: 41px;
        padding-bottom: 60px;
    }
    @include media-mobile {
        padding-top: 0px;
        padding-bottom: 41px;
    }
}

.pick_and_feed_background {
    position: relative;
}

.feed_arrow {
    position: absolute;
    top: 480px;
    left: 395px;
    @include media-desktopsmall {
        top: 438px;
        left: 256px;
    }
    @include media-tablet {
        display: none;
    }
}

.feed_arrow_next {
    position: absolute;
    top: 480px;
    left: 693px;
    @include media-desktopsmall {
        top: 438px;
        left: 553px;
    }
    @include media-tablet {
        display: none;
    }
}

.green_arrows {
    display: none;
    @include media-tablet {
        display: block;
        position: relative;
    }
    @include media-mobile {
        display: block;
        position: relative;
    }
}

.green_arrow {
    @include media-tablet {
        position: absolute;
        top: -259px;
        left: 137px;
    }
    @include media-mobile {
        position: absolute;
        transform: rotate(85deg);
        top: -564px;
        left: 204px;
    }
}

.green_arrow_next {
    @include media-tablet {
        position: absolute;
        top: -259px;
        left: 357px;
    }
    @include media-mobile {
        position: absolute;
        transform: rotate(85deg);
        top: -316px;
        left: 204px;
    }
}

.feed_card {
    padding-top: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.feed_card:last-child {
    @include media-mobile {
        margin-top: -13px;
    }
}

.pick_and_feed_background {
    @include media-desktopsmall {
        margin-top: -39px;
    }
}