
.gradient_border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 391px;
    background: $color-pink_gradient;
    border-radius: 20px;
    @include media-desktopsmall {
        width: 293px;
    }
}

.testimonials_card {
   width: calc(100% - 4px);
   height: calc(100% - 4px);
   border-radius: 18px;
   background-color: $color-gray_light;
   padding: 4px;
}

.layout-4-column {
    display: flex;
    justify-content: space-between;
    @include media-tablet {
        display: none;
    }
}

.layout_rows {
    display: none;
    @include media-tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.gradient_border_rows {
    @include media-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 109px;
        background: $color-pink_gradient;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-bottom: 15px;
    }
}

.testimonials_card_rows {
    @include media-tablet {
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        border-radius: 19px;
        background-color: $color-gray_light;
        padding: 3px;
    }
}

.testimonials_title_card {
    @include font(16px, 120%);
    color: $color-dark;
    margin: 0;
    margin-top: 9px;
    @include media-tablet {
        margin-top: 10px;
    }
}

.testimonials_subtitle {
    @include font(15px, 120%, 300);
    color: #BDBDBD;
    margin: 0;
    @include media-tablet {
        margin-top: 1px;
    }
}

.testimonials_card_head {
    display: flex;
    align-items: flex-start;
}

.avatar {
    width: 37px;
    height: 37px;
    margin: 9px 10px 0px 11px;
    @include media-tablet {
        margin: 11px 8px 0px 9px;
    }
}

.testimonials_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    margin: 10px 8px 0px 11px;
    letter-spacing: 0.3px;
    @include media-tablet {
        margin: 11px 11px 0px 14px;
        letter-spacing: 0px;
    }
}

.testimonials_text_1 {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    margin: 10px 10px 0px 11px;
    letter-spacing: 0.7px;
}

.line_scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 599px;
    height: 10px;
    background: $color-pink_gradient;
    border-radius: 5px;
    @include media-desktopsmall {
        width: 390px;
        height: 8px;
    }
}

.scroll_background {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 4px;
    background-color: #F5F7F6;
    padding: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include media-desktopsmall {
        padding: 0.5px;
    }
}

.scroll {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    @include media-tablet {
        display: none;
    }
}

.testimonials_button {
    margin-top: 30px;
    margin-bottom: 180px;
    @include media-desktopsmall {
        margin-top: 51px;
        margin-bottom: 142px;
    }
    @include media-tablet {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 80px;
    }
}


.testimonials__title {
    padding: 106px 0 10px 0;
    @include media-desktopsmall {
        padding: 64px 0 0 0;
        margin-bottom: 30px;
    }
    @include media-tablet {
        padding: 24px 0 0 0;
        margin-bottom: 30px;
        margin-right: 3px;
    }
}

.forth_card {
    @include media-desktopsmall {
        display: none;
    }
}


//___________________________________________________


.slidecontainer {
    width: 100%; 
}

.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 599px;
    height: 7px;
    background: #F5F7F6;
    border-radius: 5px;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    @include media-desktopsmall {
        width: 390px;
        height: 6px;
    }
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 115px; 
    height: 7px; 
    background: #FE9013;
    border-radius: 5px; 
    cursor: pointer; 
    @include media-desktopsmall {
        width: 75px; 
        height: 6px; 
        border-radius: 4px; 
    }
}

.slider::-moz-range-thumb {
    width: 115px; 
    height: 7px; 
    background: #FE9013;
    border-radius: 5px; 
    cursor: pointer; 
}

.testimonials_background_photo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    z-index: -3;
    margin-top: -275px;
    overflow: hidden;
    @include media-desktopsmall {
        margin-top: -240px;
        margin-right: -82px;
        overflow: hidden;
        display: none;
    }
}

.leav {
    @include media-desktopsmall {
        display: none;
    }
}

.leav_small {
    display: none;
    @include media-desktopsmall {
        display: block;
    }
    @include media-tablet {
        display: block;
    }
}